body {
    background-color: #F5F5F5;
}

.overflow-h {
    overflow: hidden;
    position: fixed;
    margin-left: 0;
}

.chats {
    width: 27%;
    height: 95%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
    background-color: #e3e7f5;
    display: inline-block;
    overflow-y: scroll;
    /*left: */
    position: fixed;
    z-index: 1;
}

.chats .chat {
    width: 100%;
    height: 90px;
    background-color: #FAFAFA;
    border-bottom: solid 1px #E0E0E0;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.chats .chat:hover {
    background-color: #d7d7d7;
}

/*.chats .scroll-container::-webkit-scrollbar {*/
/*    width: 5px;*/
/*}*/

/*.chats .scroll-container::-webkit-scrollbar-track {*/
/*    background-color: #f1f1f1;*/
/*}*/

/*.chats .scroll-container::-webkit-scrollbar-thumb {*/
/*    background-color: #888;*/
/*    border-radius: 5px;*/
/*}*/

.chats .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
}

.chats .search:hover {
    cursor: default !important;
    background-color: white !important;
}

.chats .search .searchbar {
    height: 50px;
    background-color: #FFF;
    width: 80%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chats .search .searchbar input {
    margin-left: 15px;
    height: 38px;
    font-size: 20px;
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.chats .search .searchbar input:focus {
    outline: none;
}

.chats .search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}

.chats .search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}

.chats .search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}

.chats .search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
}

.chats .message-active {
    width: 98.5%;
    height: 90px;
    background-color: #FFF;
    border-bottom: solid 1px #E0E0E0;
}

.chats .chat .photo {
    margin-left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.desc-contact {
    height: 43px;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chats .chat .name {
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #515151;
}

.chats .chat .message {
    margin: 6px 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    color: #515151;
    display: block;
}

.timer {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

.messages-block {
    width: calc(100% - 26% - 26px);
    position: relative;
    display: none;
    left: calc(26% + 28px);
    height: calc(100% - 50px);
    /*overflow-y: scroll;*/
    margin: 0;
}

.header-chat {
    background-color: #FFF;
    height: 70px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);
    display: flex;
    top: 50px;
    width: calc(68% + 2px);
    position: fixed;
    align-items: center;
}

.messages-block .header-chat .icon {
    margin-left: 30px;
    color: #515151;
    font-size: 16pt;
}

.messages-block .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    color: #515151;
}

.messages-block .header-chat .right {
    position: absolute;
    right: 40px;
}

.messages-block .messages-chat {
    margin-top: 70px;
    overflow-y: scroll;
    height: calc(100% - 30px - 70px);
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.messages-block .messages-chat .message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    overflow-wrap: break-word !important;
}

.left-message {
    max-width: 55% !important;
    margin-left: 7px;
    float: left !important;
    margin-right: auto !important;
    word-break: break-all !important;
}

.left-message .text {
    margin-left: 5px !important;
    overflow-wrap: break-word !important;
}

.messages-block .messages-chat .message .photo {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ch-name {
    color: #68d0f3;
}

.messages-block .messages-chat .text {
    margin: 0 35px;
    padding: 12px;
    border-radius: 12px;
    font-size: 1em;
    line-height: 150% !important;
    background-color: #e1e1e1;
}


.text-only {
    margin-left: 45px;
}

.time {
    float: right !important;
    margin-left: 10px !important;
    margin-top: 15px !important;
    bottom: 8px;
    font-size: 11px;
    color: #a6a6a6;
}

.my-message-time {
    float: right !important;
    margin-left: 10px !important;
    margin-top: 15px !important;
    bottom: 8px;
    font-size: 11px;
    color: #a6a6a6;
}

.my-message {
    float: right !important;
    margin-right: 0px !important;
    margin-left: auto;
    max-width: 58%;
    overflow-wrap: break-word;
}

.my-message .text {
    background-color: #e3effd !important;
    margin-right: 0px !important;
}

.message-span {
    line-height: 150% !important;
}

.footer-chat {
    width: calc(68% + 2px);
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 2px solid #EEE;
}

.messages-block .footer-chat .icon {
    margin-left: 30px;
    color: #C0C0C0;
    font-size: 14pt;
}

.messages-block .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
    overflow: hidden;
}

.messages-block .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #515151;
}

.messages-block .footer-chat .right {
    position: absolute;
    right: 40px;
}

.write-message {
    border: none !important;
    width: 80%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
}

.write-message:focus {
    outline: none;
    /*box-shadow: 0.2rem 0.8rem 1.6rem;*/
}

.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left: 5px;
}

.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}

.plus {
    margin-left: 4%;
    color: white;
    border-radius: 30%;
    border: 1px solid #b6b6b6;
    cursor: pointer;
    margin-top: 4px;
    width: 33px;
    position: relative;
    height: 33px;
}

.plus::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #b6b6b6;
    height: 2px;
    margin-top: -1px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
}

.plus::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #b6b6b6;
    width: 2px;
    margin-left: -1px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
}

.plus:hover {
    border: 2px solid #262626;
}




