@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
}

.relative-body {
    position: relative;
    left: 75px;
    top: 50px;
}

#groupInfo {
    width: 100%;
    display: none;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
}

.main, #groupsList {
    background-color: white;
    z-index: 0;
    margin: 15px auto 100px;
    width: 97%;
    border-radius: 20px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.main {
    -webkit-box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
}

#groupsList {
    box-shadow: none !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    margin-top: 20px!important;
    margin-bottom: 56px !important;
}

/*#groupsList:last-child {*/
/*    border-top: 2px solid black;*/
/*}*/

.card::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.card:hover::after {
    opacity: 0;
}

.card {
    height: 15rem;
    width: 15rem;
    margin: 1.1rem;
    padding: 0 0 15px 0;
    border-radius: 1.6rem;
    overflow: hidden;
    flex-direction: column;
    word-break: break-word;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card-content {
    overflow: hidden;
    height: 100%;
}

.card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
    transition: opacity 0.2s ease-out;
    filter: brightness(100%);
}

.card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    z-index: 10;
    font-size: 1.3rem;
    transition: inset 0.2s 0.2s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 0 black;
}

.card p {
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    font-size: 0.99rem;
    line-height: 1.3;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    inset: 30% auto 11% 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}

.card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}

.card:hover h2 {
    inset: 30px auto 83% 30px;
    transition: inset 0.2s ease-out;
    text-shadow: 1px 5px 7px #0A0A0A;
}

.card:hover p, .card:hover a {
    opacity: 1 !important;
    text-shadow: 1px 1px 0 black;
    transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
    transition: 0.5s ease-out-in;
    filter: brightness(30%);
}

.material-symbols-outlined {
    vertical-align: middle;
}




.add-group-btn {
    margin: auto;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Dosis';
    color: #5b5b5b;
    border-radius: 20px;
    background-color: #dedede;
    -webkit-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
}

.add-group {
    display: none;
    width: 30%;
    height: 60%;
    top: 15%;
    z-index: 600;
    border-radius: 10px;
    left: 35%;
    padding: 20px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 10px 38px 0px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #5b5b5b;
}

.form-group {
    margin-bottom: 20px;
}

.add-input {
    /*opacity: 0.97 !important;*/
}

.form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #5b5b5b;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.form-input:focus {
    outline: none;
}

.form-add-button {
    display: block;
    width: 30%;
    margin-left: 35%;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    background-color: #16a085;
    color: #fff;
    cursor: pointer;
}

.add-area {
    margin-top: 10px !important;
    width: 100% !important;
    height: 30%;
    border-radius: 5px;
}

.error {
    float: left;
    display: none;
    margin-left: 15px;
    font-size: 13px;
    color: red
}

.form-button:hover {
    background-color: #555;
}

.select_area {
    color: #4451FE;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.text {
    padding-left: 15px;
}

.group-profile {
    display: flex;
    width: 75%;
    /*justify-content: space-between;*/
    align-items: center;
    border: 2px solid #ddd;
    padding: 20px;
    -webkit-box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    background-color: #ffffff;
    border-radius: 15px;
    margin: 1.75rem auto 2rem;
    max-height: 15%;
    position: relative;
}

.group-profile-image img {
    max-width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
    /*margin-left: 50px;*/
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    filter: brightness(100%);
    display: flex;
}

.group-profile-info {
    flex: 1;
    width: auto;
    max-width: 54%;
    max-height: 10.5rem;
    height: auto;
    border-bottom: 2px solid black;
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 20px 0 40px;
}

.edit-name {
    font-size: 15px !important;
    max-height: 6%;
    border: 0px;
}

.edit-name:focus {
    outline: none !important;
}

.group-profile-info .name {
    margin-top: 0;
    float: left;
    margin-bottom: 10px;
    font-size: 2.7rem;
}

.group-profile-info p {
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    height: auto;
    position: relative;
    line-height: 1.356;
    padding-bottom: 6px;
}

.members {
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-right: auto;
    cursor: pointer;
    color: #6c6c6c;
}

.members-block {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.join-button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 4px;
    height: 2.95rem;
    position: relative;
    align-items: center!important;
    background-color: #16a085;
    border: none;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 40px;
    color: #fff;
    float: right;
    padding: 15px;
    width: 7.5rem;
    transition-duration: 0.4s;
    justify-content: center !important;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
}

.subscribed {
    background-color: #F0EFEF;
    color: #262626;
    box-shadow: 0 5px 15px #b4b4b4;
}

.subscribed:hover {
    box-shadow: 0px 2px 10px 5px #D6D6D6 !important;
}

.join-button:hover {
    /*   background: #fff; */
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
}

.join-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.join-button:focus {
    outline: 0;
}

.buttons, .profile-edit-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 4px;
    margin-right: 4px;
}

.profile-edit-buttons {
    right: 20px !important;
    top: 20px !important;
    display: block !important;
    margin-right: 10px !important;
    font-size: 25px !important;
    padding-right: 10px !important;
}

.profile-edit-buttons:first-child {
    margin-right: 15px !important;
}

.buttons button, .profile-edit-buttons button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    color: #6c6c6c;
}

.buttons button:last-child {
    font-size: 25px !important;
}

.accept-btn {
    display: flex;
    width: 35%;
    height: 38px;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: black;
    text-transform: uppercase;
    background-color: #1abc9c;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5rem;
    box-shadow: 1px 2.9px 16px #2fd7b2;
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    cursor: pointer;
}

.accept-btn:hover {
    letter-spacing: 5px;
}

.add-post span {
    font-size: 1.9rem;
}

.files-block {
    display: flex;
    max-width: 95%;
    min-width: 70%;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
}

.delete-button {
    margin-left: 5px;
    cursor: pointer;
}

.file-label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: auto;
    max-width: 40%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.file-text {
    font-weight: bold;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.files-list {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    flex-direction: column;
    max-height: 190px;
    max-width: 95%;
    overflow-x: hidden;
    word-wrap: break-word;
}

.file-list-item {
    margin-bottom: 5px;
    color: #808080;
    font-size: 0.8rem;
}

.exit-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-btn {
    right: 20px;
    font-size: 1.5rem;
    top: 5px;
    position: absolute;
    display: flex;
    cursor: pointer;
    width: 1px;
    height: 1px;
    justify-content: center;
    padding-bottom: 5px;
    text-align: center;
}

.menu {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    right: 6%;
    flex-direction: column;
    top: 35px;
    align-items: center;
    border-radius: 8%;
    z-index: 1;
    justify-content: center;
    -webkit-box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
    box-shadow: -9px 16px 53px -6px rgba(34, 60, 80, 0.2);
}

.visible {
    display: flex;
}

.menu li {
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.95rem;
}

.menu li:last-child {
    margin-bottom: 5px;
}

.menu li:hover {
    background-color: #cccccc;
}

.menu li:first-child {
    margin-top: 5px;
}

