@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.overflow-h {
    overflow: hidden;
    position: relative;
    margin-left: 0;
    padding: 35px;
}

.left-side {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.profile-header {
    background: #fff;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    padding-right: 35px;
    text-overflow: ellipsis;
}

.profile-img {
    float: left;
    width: 340px;
    height: 200px;
    position: relative;
}

.profile-img img {
    border-radius: 10%;
    height: 230px;
    width: 230px;
    border: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50px;
    background-size: cover;
    animation-fill-mode: both;
    object-fit: cover;
    background-position: center;
    top: 20px;
    z-index: 5;
    background: #fff;
    object-fit: cover;
}

.profile-nav-info {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    margin-right: 10px;
    margin-left: 40px;
    height: 90%;
    padding-bottom: 25px;
    /*justify-content: ;*/
}

.name-surname {
    display: flex;
    flex-direction: row;
    word-spacing: 10px;
}

.bio {
    margin-top: 20px;
    display: flex;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-left: 5px;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-height: 60px;
}

.bio-text {
    line-height: 1.3;
    cursor: pointer;
    margin-left: 5px;
}

.bio-header {
    cursor: pointer;
}

.profile-nav-info h3 {
    font-variant: small-caps;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-nav-info .username {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    color: #777;
}

.profile-nav-info .username p {
    margin-right: 5px;
    margin-top: 5px;
}

.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 300px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 90px 30px 20px;
    font-family: "Bree Serif", serif;
    margin-left: 10px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
}

.info-block {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bold-text {
    font-weight: bold;
}


.profile-side p {
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}

.profile-side p i {
    color: #e40046;
    margin-right: 10px;
}


.profile-btn {
    display: flex;
}

.overflow-h button.chatbtn,
.overflow-h button.add-friend-btn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background-color: #22252E;
    color: #fff;
    font-family: "Bree Serif";
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    margin: 5px 2px 10px;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.add-friend-btn:hover {
    background: rgba(61, 61, 61, 0.9);
}

button.chatbtn i,
button.add-friend-btn i {
    margin-right: 5px;
}

.profile-body {
    width: 100%;
    z-index: -1;
}

.tab {
    display: none;
}

.tab {
    padding: 20px;
    width: 100%;
    text-align: center;
}

@media (max-width: 1100px) {
    .profile-side {
        width: 250px;
        padding: 90px 15px 20px;
    }

    .profile-img img {
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px;
    }
}

@media (max-width: 900px) {
    body {
        margin: 0 20px;
    }

    .profile-header {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .profile-img {
        float: left;
        width: 100%;
        height: 200px;
    }

    .profile-img img {
        position: relative;
        height: 200px;
        width: 200px;
        left: 0px;
    }

    .profile-nav-info {
        text-align: center;
    }

    .profile-option {
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }

    .main-bd {
        flex-direction: column;
        padding-right: 0;
    }

    .profile-side {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0;
    }

    .profile-nav-info .username {
        justify-content: center;
    }

    .user-rating {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    body {
        /*margin: ;*/
    }

    .profile-header h3 {
    }

    .profile-option {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 83%;
    }

    .profile-option .notification .alert-message {
        top: -3px;
        right: -4px;
        padding: 4px;
        height: 15px;
        width: 15px;
        font-size: 0.7rem;
    }

    .profile-nav-info h3 {
        font-size: 1.9rem;
    }

    .profile-nav-info .username p,
    .profile-nav-info .username span {
        font-size: 0.7rem;
    }
}

.tab h1 {
    font-family: "Bree Serif", sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}


.logout-button {
    margin-top: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Marvel;
    font-size: 20pt;
    /*width: 200px;*/
    height: 45px;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border: solid #bbb 2px;
    color: #bbb;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.logout-button button:focus {
    outline: none;
}

.button-container {
    width: 852px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.logout-button h4 {
    padding: 0px;
    margin: 13px;
}

.logout-button a {
    color: #f55e5e;
    text-decoration: none;
    background: #f1f1f1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.logout-button a:hover {
    color: #f1f1f1;
    background-color: #f55e5e
}

.logout-button {
    background-image: -webkit-linear-gradient(30deg, transparent 50%, #f55e5e);
    background-image: linear-gradient(30deg, transparent 50%, #f55e5e);
    background-size: 298%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0%;
}

.logout-button:hover {
    background-position: 100%;
    color: #f1f1f1;
    border-color: #f55e5e;
}

.logout-button:active {
    background-color: #00a7fc;
    color: #333;
    background-position: 0%;
    border-color: #00a7fc;
}

.camera {
    color: #FFFF;
    position: absolute;
    bottom: 28px;
    left: 28px;
    z-index: 15;
    background-color: black;
    font-size: 1.3rem;
}

.edit-btn-moved {
    left: 55% !important;
    top: 65% !important;
    width: 13% !important;
    font-size: 45px !important;
    /*margin-left: 15px;*/
    /*margin-top: 15px;*/
    /*border-radius: 50% !important;*/
}

.accept-buttons {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.accept-button {
    width: 35%;
    height: 30px;
    gap: 10px;
}

.accept-buttons a {
    display: block;
    /*margin: auto;*/
    width: 40%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.accept-buttons a:first-child {
    margin-right: 15px;
}

.accept-buttons a span {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.accept-buttons .accept:after, .accept-buttons .cancel:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    cursor: pointer;
}

.cancel:after {
    background: #ff446b;
    transition: all .35s;
}

.accept:after {
    background: #5bff47;
    transition: all .35s;
}

.accept-buttons a:hover {
    color: #fff;
}

.accept-buttons a:hover:after {
    width: 100%;
}


.overflow-h form {
    position: absolute;
    text-align: center;
    background: #fff;
    width: 370px;
    height: 550px;
    margin-top: 25px;
    border-radius: 5px;
    top: 10px;
    left: 30%;
    z-index: 600;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    overflow: hidden;
}

.backform {
    margin-top: 50px;
}

.overflow-h form p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    /*color: #87613d;*/
    color: #171717;
    margin-bottom: 40px;
}

.overflow-h form p > span {
    padding-top: 3px;
    display: block;
    font-weight: 400;
    font-size: 9px;
}

.overflow-h form h3 {
    font-family: 'Dosis';
    font-size: 35px;
    text-transform: uppercase;
    /*color: #87613d;*/
    color: #212121;
    margin-bottom: 30px;
}

.overflow-h form input,
.overflow-h form button {
    outline: none !important;
}

.overflow-h form button.fb {
    border: none;
    background: #232323;
    width: 160px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #29487d;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s linear;
}

.overflow-h form button.fb:hover {
    background: #fff;
    color: #3b5998;
}

.overflow-h form button.form-btn {
    position: absolute;
    width: 50%;
    height: 60px;
    bottom: 0;
    border: 0;
    font-family: 'Dosis';
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.overflow-h form button.form-btn.sx {
    left: 0;
    border-radius: 0 0 0 5px;
    background-color: #879cd0;
    color: #fff;
    transition: all 0.3s linear;
}

.overflow-h form button.form-btn.sx:hover {
    background-color: #193a72;
    color: #fff;
}

.overflow-h form button.form-btn.sx.back {
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear;
}

.overflow-h form button.form-btn.sx.back:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.overflow-h form button.form-btn.dx {
    right: 0;
    border-radius: 0 0 5px 0;
    background-color: #29487d;
    color: #fff;
}

.overflow-h form input {
    border: none;
    border-bottom: 1px solid #a4c2f3;
    width: 85%;
    font-family: 'Roboto';
    color: #3b5998;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 25px;
}

.signIn form input {
    width: 100%;
}

.accept-edit {
    cursor: pointer;
    z-index: 700;
    background-color: #9cfd8e !important;
}

.cancel-edit {
    cursor: pointer;
    z-index: 700;
    background-color: #ff6889 !important;
}

.update-errors {
    position: absolute !important;
    /*display: none!important;*/
    top: 150px !important;
    /*display: flex;*/
    left: 62% !important;
    font-size: 0.99rem;
    /*margin-left: 1;*/
    /*background-color: inherit;*/
    max-width: 250px;
    z-index: 700 !important;
    padding: 10px;
    background-color: inherit;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
}

.info-row {
    margin-bottom: 7px;
}

.bio-area {
    margin: 15px 0 0 !important;
}

.bio-buttons {
    position: absolute;
    bottom: 70px;
    right: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 4px;
}

.bio-buttons button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    color: #6c6c6c;
}