spring.datasource.username=
spring.datasource.password=
spring.datasource.url=jdbc:postgresql://localhost:5432/social_network
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.maximum-pool-size=20

spring.main.banner-mode=off

spring.main.allow-circular-references=true
spring.devtools.restart.additional-paths= /static

spring.servlet.multipart.max-file-size=4MB

spring.redis.host=
spring.redis.port=

minio.url=
minio.accessKey=
minio.secretKey=

logging.level.org.springframework.web=TRACE

spring.jpa.generate-ddl=false
spring.jpa.hibernate.ddl-auto=none
spring.sql.init.mode=never

spring.liquibase.change-log=classpath:/db.changelog/db.changelog-master.xml
spring.thymeleaf.suffix=.html

jwt.secret.key=

default.page-size=16
default.posts-page-size=8
refresh-token.expires-time=10800000
access-token.expires-time=1800000