<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/chats.css">
</head>
<body>

<div class="main-container collapse">
    <nav th:replace="template :: mainNavbar"></nav>
    <div th:replace="template :: header"></div>

    <div class="body overflow-h">

        <div class="chats">

            <div class="chat search-block">
                <div class="searchbar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" id="chat-search" placeholder="Search..."/>
                </div>
                <div class="plus"></div>
            </div>

            <div id="chats-block">
                <div class="chat chat-div" th:each="chat : ${chats}" th:value="${chat.globalId}">
                    <div class="photo"
                         th:style="'background-image: url(\'' + ${chat.imageLink} + '\')'">
                    </div>
                    <div class="desc-contact">
                        <p class="name" th:text="${chat.name}"></p>
                        <p class="message chat-block" th:text="${chat.globalId.lastMessage.content}"></p>
                    </div>
                    <div class="timer chat-timer"></div>
                </div>

                <div class="chat chat-div" th:each="personalChat : ${personalChats}"
                     th:value="${personalChat.globalId}">
                    <div class="photo"
                         th:style="'background-image: url(\'' + ${personalChat.secondUser.avatarLink} + '\')'">
                    </div>
                    <div class="desc-contact">
                        <p class="name" th:text="${personalChat.secondUser.username}"></p>
                        <p class="message chat-block" th:text="${personalChat.globalId.lastMessage.content}"></p>
                    </div>
                    <div class="timer chat-timer"></div>
                </div>
            </div>
        </div>

        <div class="messages-block">

            <div class="header-chat">
                <i class="icon fa fa-user" aria-hidden="true"></i>
                <p class="members-count">+</p>
                <p class="name" id="name"></p>

            </div>

            <div class="messages-chat">
            </div>

            <div class="footer-chat">
                <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
                <input type="text" id="messageInput" autocomplete="off" class="write-message"
                       placeholder="Type your message here"/>
            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>
<script th:replace="scripts-import.html"></script>
<script th:src="@{/js/chats.js}"></script>

</body>
</html>