<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>

    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/groups.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>


<div class="main-container collapse">
    <nav th:replace="template :: mainNavbar"></nav>
    <div th:replace="template :: header"></div>

    <div class="body relative-body">
        <div class="main">
            <div class="body-shadow"></div>
            <span class="heading">groups</span>
            <div class="search moved-search">
                <div class="text_and-icon">
                    <input type="text" class="search_text" id="search_text" placeholder="Search..." autocomplete="off">
                </div>
            </div>
            <div class="add-group-btn">add group</div>

            <form id="addGroupForm" class="add-group">
                <span class="close-button">&#10006;</span>
                <h2 class="form-title">Group</h2>
                <div class="form-group">
                    <label for="new-group-name" class="form-label">Group name:</label>
                    <input type="text" id="new-group-name" class="form-input" autocomplete="off" required>
                    <span class="error"></span>
                </div>
                <div class="form-group">
                    <label for="new-group-description" class="form-label">Description:</label>
                    <textarea id="new-group-description" class="post-area add-area"></textarea>
                </div>
                <div class="form-group">
                    <label for="new-group-image" class="file-label">Image</label>
                    <input type="file" id="new-group-image" class="file-input add-input" required>
                </div>
                <button type="submit" class="form-add-button">Submit</button>
            </form>


            <div id="groupsList">
                <div class="card group" th:each="group : ${groups}" th:value="${group.id}">
                    <img th:src="${group.imageLink}" alt="">
                    <div class="card-content">
                        <h2 th:text="${group.name}">
                        </h2>
                        <p th:text="${group.description}">
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div id="groupInfo">
            <div class="group-profile">
                <div class="group-profile-image" style="position: relative">
                    <img id="profile-img">
                    <input type="file" id="new-image" style="display: none;">
                </div>
                <div class="group-profile-info">
                    <span class="name"></span>
                    <span class="members"></span>
                    <p id="group-description">
                    </p>
                </div>

                <button class="join-button">Join</button>
            </div>

            <div class="posts">
            </div>
        </div>
    </div>
</div>
<script th:replace="scripts-import.html"></script>
<script th:src="@{/js/posts.js}"></script>
<script th:src="@{/js/groups.js}"></script>
</body>
</html>