<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>

    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/group.css">
</head>
<body>


<div class="main-container collapse">
    <nav th:replace="navbar_template :: mainNavbar"></nav>
    <div th:replace="navbar_template :: header"></div>

    <div class="body relative-body">

        <div class="main">
            <span class="heading">groups</span>
            <div class="search">

                <div class="text_and-icon">
                    <input type="text" class="search_text" id="search_text" placeholder="Search..." autocomplete="off">
                </div>
            </div>

            <div id="groupsList">
                <!--                <button class="vertical">Vertical</button>-->
                <div class="card group" th:each="group : ${groups}" th:value="${group.id}">
                    <img th:src="${group.imageLink}" alt="">
                    <div class="card-content">
                        <h2 th:text="${group.name}">
                        </h2>
                        <p th:text="${group.description}">
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div id="groupInfo">
            <div class="group-profile">
                <div class="group-profile-image">
                    <img id="profile-img">
                </div>
                <div class="group-profile-info">
                    <span class="name"></span>
                    <span class="members"></span>
                    <p id="group-description">
                    </p>
                </div>

                <button class="join-button">Join</button>
            </div>

            <div class="posts">
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/ajax_requests.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/groups.js}"></script>
</body>
</html>