<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/authentication.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

<div class="main-container collapse">

    <nav th:replace="template :: mainNavbar"></nav>
    <div th:replace="template :: header"></div>
    <div class="body overflow-h">

        <div class="container">
            <div class="profile-header">
                <span th:if="${isMyProfile}" class="edit-icon flex-10">&#9998;</span>
                <div class="profile-img">
                    <div style="display: inline-flex" class="image">
                        <span th:if="${isMyProfile}" class="image-edit-icon edit-btn-moved"
                              style="display: none;">+</span>
                        <img th:src="${user.avatarLink}" id="profile-image" width="200">
                    </div>
                    <input type="file" id="new-profile-image" style="display: none;">
                </div>
                <div class="profile-nav-info">
                    <div class="name-surname">
                        <h3 class="user-name" th:text="${user.name + ' ' + user.surname}"></h3>
                    </div>
                    <div class="username">
                        <p id="state" class="state" th:text="${'@' + user.username}"></p>
                    </div>

                    <div class="bio">
                        <span class="bio-header" style="font-weight: bold">Bio:  </span>
                        <span class="bio-text" th:text="${user.bio}"></span>
                    </div>

                </div>
            </div>

            <div class="main-bd">
                <div class="left-side">

                    <div class="profile-side">
                        <div class="info-block">
                            <div class="info-row">
                                <span class="bold-text">Phone: </span>
                                <span class="phone" th:text="${user.phoneNumber}"></span>
                            </div>
                            <div class="info-row">
                                <span class="bold-text">Email: </span>
                                <span class="email" th:text="${user.email}">></span>
                            </div>
                            <div class="info-row">
                                <span class="bold-text">Gender: </span>
                                <span class="gender" th:text="${user.gender}"></span>
                            </div>
                            <div class="info-row">
                                <span class="bold-text">Age: </span>
                                <span class="age" th:text="${user.age}"></span>
                            </div>
                        </div>

                        <div th:if="${!isMyProfile}" class="profile-btn">
                            <button class="chatbtn"><i class="fa fa-comment"></i> Chat</button>
                            <button class="add-friend-btn" th:value="${state}" th:text="${state}"><i class="fa fa-plus"></i> Add</button>
                        </div>

                        <button th:if="${isMyProfile}" class="logout-button"><span>Logout</span></button>

                    </div>
                    <div class="right-side">

                        <div class="profile-body">
                            <div class="profile-posts tab">
                                <h1>Your Post</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script th:replace="scripts-import.html"></script>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>