<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/xhtml">

<div class="sidebar-navigation" th:fragment="mainNavbar">
    <ul class="list-unstyled">
        <li class="navbarImage" th:value="profile">
            <i class="fa fa-user-circle" th:value="profile"></i>
            <span class="tooltip">Profile</span>
        </li>
        <li class="navbarImage" th:value="feeds">
            <i class="fa fa-hashtag" th:value="feeds"></i>
            <span class="tooltip">Feeds</span>
        </li>
        <li class="navbarImage" th:value="chats">
            <i class="fa fa-comments" th:value="chats"></i>
            <span class="tooltip">Chats</span>
        </li>

        <li class="navbarImage" th:value="friends">
            <i class="fa fa-handshake" th:value="friends"></i>
            <span class=" tooltip">Friends</span>
        </li>

        <li class="navbarImage" th:value="groups">
            <i class="fa fa-users" th:value="groups"></i>
            <span class="tooltip">Groups</span>
        </li>

        <li sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" class="navbarImage" th:value="'admin/posts'">
            <i class="fa fa-user-secret" th:value="'admin/posts'"></i>
            <span class="tooltip">Admin posts</span>
        </li>
    </ul>
</div>

<div class="header" th:fragment="header">
    <div class="line"></div>
    <div class="header-menu">
        <div class="title"><span class="title-hide">Social Network</span></div>
    </div>
</div>
